#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #396e94;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background{
    height: 725px;
    background-color: #AAAAAA;
}

body{
    background-color: #080357;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header{
    background-color: #080357;
}

nav a:hover{
    background-color: #396E94;
    color: white;
}

.book, .join{
    background-color: #080357;
    color: #396E94;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #396E94;
    color: white;
}

.msg{
    background-color: #080357;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: #080357;
    color: #396E94;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a{
    color: #396E94;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

footer .social img {
    padding-top: 15px;
}

.home-title{
    color: #396E94;
    font-family: Franklin Gothic, Arial Bold;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #396E94;
}

.msg h2{
    color: #396E94;
    font-family: Franklin Gothic, Arial Bold;
}

.msg p{
    color: #396E94;
    font-size: .8em;
    padding-bottom: 15px;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img {
    border: 10px solid #AAAAAA;
}