.logo{
    width: 80px;
}


.nav{
    height: 80px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#3e0760;
    font-size: 1.2em;
}


nav a{
    color: #34E5FF;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    color: white;
}

footer{
    background-color: #3e0760;
    color: #34E5FF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer p {
    font-size: 1.2em;
}


footer p a:hover {
    text-decoration: underline;
}


footer a{
    color: #34E5FF;
    text-decoration: none;
}


footer a:hover{
    color: white;
}


footer .social img {
    padding-top: 15px;
}


body{
    background-color: #000;
    color: #39FF14;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#home-img{
    width: 100%;
}

.home-img{
    display: grid;
    place-items: center;
}

.whyus, .hire, .s1{
    padding: 35px;
}

.apply{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
    background: #0a3064;
    border-radius: 15px;
    padding: 25px;
}

.title{
    text-align: center;
}

.img0{
    width: 300px;
    margin: 15px;
    float: left;
}

.img1{
    width: 300px;
    margin: 15px;
    margin-right: 50px;
    float: right;
}